@tailwind base;

@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/static/fonts/public-sans-var.ttf) format('truetype');
}

:root {
	--color-primary: #10b981;
	--color-primary-offset: #059669;
	--color-secondary: #fb923c;
	--color-secondary-offset: #f97316;
	--color-light: #fafafa;
	--color-light-offset: #f7f7f7;
	--color-dark: #171717;
	--color-dark-offset: #404040;
	--color-border: #a8a29e;
}

@tailwind utilities;
